<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DeparturePlace" value="Srinagar"/>
    <add key="ArrivalPlace" value="Bengaluru"/>
    <add key="LeaveDate" value="10/12/2019"/>
    <add key="ReturnDate" value="20/12/2019"/>
    <add key="Destination" value="Bengaluru (and vicinity), India"/>
    <add key="CheckInDate" value="34/01/2020"/>
    <add key="CheckOutDate" value="14/01/2020"/>
    <add key="GivenName" value="Katy"/>
    <add key="Surname" value="Smith"/>
    <add key="Email" value="katysmith@gmail.com"/>
    <add key="MobilePhone" value="5641234"/>
  </appSettings>
</configuration>